<%= form_for(@learner) do |f| %>
  <% if @learner.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@learner.errors.count, "error") %> prohibited this learner from being saved:</h2>

      <ul>
      <% @learner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @learner  do |f| %>
       <div class="row-fluid">
          <div class="span3">
            <%= f.input :name, label: "Имя" %>
            <%= f.input :surname, label: "Фамилия" %>
            <%= f.input :school, label: "Школа" %>
            <%= f.input :school_class, label:"Класс" %>
            <%= f.input :phone, label: "Телефон" %>
        
            <%= f.collection_check_boxes(:subject_ids, Subject.all, :id, :subject){|b|
                                          b.label {b.check_box + "  " + b.text}}  %> 
      
            <%= f.button :submit, :class => "btn btn-primary btn-large offset10" %>


          </div>
          
          <div class="span3">
            <%= f.input :note, as: :text, label: "Примечания:" %>
          </div>
        
        </div> 
      
      
        
       
        <% end %>
<% end %>

</br>
</br>
