<%= form_for(@learner) do |f| %>
  <% if @learner.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@learner.errors.count, "error") %> prohibited this learner from being saved:</h2>

      <ul>
      <% @learner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @learner  do |f| %>
    <%= f.input :name, label:"Имя" %>
    <%= f.input :surname, label:"Фамилия" %>
    <%= f.input :school, label:"Школа" %>
    <%= f.input :school_class, label:"Класс" %>
    <%= f.input :phone, label:"Телефон" %>
    <%= f.input :note, label:"Примечания:" %>
    <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :subject %> 
    <%= f.button :submit, "Создать", :class => "btn btn-primary btn-small" %>
   <% end %>

<% end %>
