#encoding: utf-8

<h1>Список учеников</h1>

<table border=1>
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Школа</th>
    <th>Класс</th>
    <th>Телефон</th>
    <th>Примечания</th>
    <th>Предметы</th>
    <th></th>
    <th></th>
  </tr>

<% @learners.each do |learner| %>
  <tr>
    <td><%= learner.surname %></td>
    <td><%= learner.name %></td>
    <td><%= learner.school %></td>
    <td><%= learner.school_class %></td>
    <td><%= learner.phone %></td>
    <td><%= learner.note %></td>
    <td>
      <% learner.subjects.each do |s|%>
        <%= s.subject %>
      <% end %>
    </td>


    <td><%= link_to 'Показать', learner %></td>
    <td><%= link_to 'Редактировать', edit_learner_path(learner) %></td>
    <td><%= link_to 'Удалить', learner, method: :delete, data: { confirm: 'Вы уверены ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый ученик', new_learner_path %>
