#encoding: utf-8

<ul class="nav nav-tabs">
  <li class="active"> <%= link_to 'Список учеников', learners_path %> </li>
  <li><%= link_to 'Список предметов', subjects_path %></li>
</ul>


<table class="table">
  <thead>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Школа</th>
    <th>Класс</th>
    <th>Телефон</th>
    <th>Примечания</th>
    <th>Предметы</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @learners.each do |learner| %>
  <tr>
    <td><%= learner.surname %></td>
    <td><%= learner.name %></td>
    <td><%= learner.school %></td>
    <td><%= learner.school_class %></td>
    <td><%= learner.phone %></td>
    <td><%= learner.note %></td>
    <td>
      
      <% learner.subjects.each do |s|%>
        <div class="btn btn-mini"> <%= s.subject %> </div> 
      <% end %>
    
    </td>

  
    <td><%= link_to 'Редактировать', edit_learner_path(learner), :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Удалить', learner, method: :delete, data: { confirm: 'Вы уверены ?' },:class => "btn btn-danger btn-small" %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый ученик', new_learner_path, :class => "btn" %>
