<h1>Listing learners</h1>

<table>
  <tr>
    <th>Surname</th>
    <th>Name</th>
    <th>School</th>
    <th>Class</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @learners.each do |learner| %>
  <tr>
    <td><%= learner.surname %></td>
    <td><%= learner.name %></td>
    <td><%= learner.school %></td>
    <td><%= learner.class %></td>
    <td><%= learner.phone %></td>
    <td><%= link_to 'Show', learner %></td>
    <td><%= link_to 'Edit', edit_learner_path(learner) %></td>
    <td><%= link_to 'Destroy', learner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Learner', new_learner_path %>
