<p id="notice"><%= notice %></p>

<p>
  <b>Surname:</b>
  <%= @learner.surname %>
</p>

<p>
  <b>Name:</b>
  <%= @learner.name %>
</p>

<p>
  <b>School:</b>
  <%= @learner.school %>
</p>

<p>
  <b>School class:</b>
  <%= @learner.school_class %>
</p>

<p>
  <b>Phone:</b>
  <%= @learner.phone %>
</p>

<p>
  <b>Note:</b>
  <%= @learner.note %>
</p>

<p>
  <b>Предметы: </b>
    <%@learner.subjects.each do |s|%>
      <%= s.subject %>
    <% end %>
</p>




<%= link_to 'Редактировать', edit_learner_path(@learner) %> |
<%= link_to 'Назад', learners_path %>