<ul class="nav nav-tabs">
  <li><%= link_to 'Список учеников', learners_path %> </li>
  <li class="active"> <%= link_to 'Список предметов', subjects_path %></li>
  <li><%= link_to 'Список учителей', teachers_path %></li>
</ul>

<table cellpadding=8>
  
    <th></th>
    <th></th>
    <th></th>
  
  
<% @subjects.each do |subject| %>
  <tr>
    <th> <%= subject.subject %></th>
    
    <th>
      <%= link_to 'Редактировать', edit_subject_path(subject), :class => "btn btn-small btn-info" %>
    </th>
    <th>
      <%= link_to 'Удалить', subject, method: :delete, data: { confirm: 'Вы уверены ?' }, :class => "btn btn-small btn-danger" %> 
    </th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый предмет', new_subject_path, :class => "btn" %>
