<ul class="nav nav-pills">
  <li><%= link_to 'Список учеников', learners_path %> </li>
  <li class="active"> <%= link_to 'Список предметов', subjects_path %></li>
</ul>

<table>
  <tr>
    <th>Предмет</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.subject %></td>
    <td><%= link_to 'Показать', subject %></td>
    <td><%= link_to 'Редактировать', edit_subject_path(subject) %></td>
    <td><%= link_to 'Удалить', subject, method: :delete, data: { confirm: 'Вы уверены ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый предмет', new_subject_path %>
