<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
  <title>School</title>
       
       <p class="alert-success"><%= notice %></p>
       <p class="alert-error"><%= alert %></p>


  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<div class="span2 offset8">
  <% if user_signed_in? %>
     <%= current_user.username %>
     <%= link_to "Выход", destroy_user_session_path, :method => :delete, :class => "btn btn-mini" %>
  <% end %>
</div>
</br> </br>


</head>
<body>
<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
